.breadcrumb__container {
  width: 100%;
  margin-bottom: 20px;
}

.breadcrumb {
  margin-left: 123px;
  margin-right: 123px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.breadcrumb__item {
  cursor: pointer;
  margin: 0 5px;
}
.breadcrumb__item__first {
  color: cornflowerblue;
}

.breadcrumb__item__active::before {
  float: left;
  padding-right: 0.5rem;
  content: " /";
}
.breadcrumb__item + .breadcrumb__item {
  padding-left: 0.5rem;
}

.breadcrumb__item__active {
  color: rgb(41, 42, 43);
}

ol {
  padding-inline-start: 0;
}
