/* common */
$--common-grey-color: #e1ecf9;
$--common-black-color: #000;
$--common-white-color: #fff;
$--common-primary-color: #236ab9;
$--common-primary-light-color: #609ce1;
$--common-secondary-color: #091d34;
$--common-secondary-light-color: #133863;

/* error */
$--error-main-color: #cc3300;
$--error-contrast-text-color: #fff;

/* warning*/
$--warning-main-color: #ff9966;
$--warning-contrast-text-color: #fff;

/* info */
$--info-main-color: #0073e5;
$--info-contrast-text-color: #fff;

/* success */
$--success-main-color: #339900;
$--success-contrast-text-color: #fff;

/* text */
$--text-main-color: var($--common-primary-light-color);
$--text-primary-color: var($--common-primary-color);
$--text-primary-light-color: var($--common-primary-light-color);
$--text-secondary-dark-color: var($--common-secondary-light-color);
$--text-secondary-dark-color: var($--common-secondary-color);

/* background */
$--background-paper-color: var($--common-white-color);
$--background-default-color: var($--common-grey-color);
$--background-primary-color: var($--common-primary-color);
$--background-primary-light-color: var($--common-primary-light-color);
$--background-secondary-color: var($--common-secondary-color);
$--background-secondary-light-color: var($--common-secondary-light-color);

/* shape*/
$--shape-border-radius: 0;

/* transition */
