table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 0px solid #f2edf3;
  text-align: left;
  font-family: "ubuntu-medium", sans-serif;
  font-weight: initial;
  font-size: 0.875em;
  padding: 0.9375rem;
}

th {
  border: 0px solid #f2edf3;
  text-align: left;
  font-family: "ubuntu-medium", sans-serif;
  font-weight: bold;
  font-size: 0.875em;
  padding: 0.9375rem;
}
tr:nth-child(even) {
  background-color: #f2edf3;
}

