* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1.2;
}

p {
  margin-bottom: 1.25rem;
}
a {
  color: #609ce1;
}
a:hover {
  color: #236ab9;
}

body {
  margin: 0;
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #717171;
  background-color: #e1ecf9;
}
