@import '../../assets/sass/global';

.breadcrumb-container {
  width: 100%;
}

.breadcrumb {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
ul.breadcrumb {
  padding: 25px 166px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: $--text-secondary-dark-color;
  content: '/\00a0';
}
ul.breadcrumb li a {
  color: $--text-primary-color;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: $--text-primary-light-color;
  text-decoration: underline;
}
